
@media(max-width:320px){
    .div1
    {
        display:none;
    }

}
@media (max-width: 576px) {
    .nav-link {
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    .div3 .col-lg-3 {
      margin-top: 20px; /* Adjust as necessary */
    }
  }

  @media (max-width: 767.98px) {
    .img-fluid {
      width: 50%; /* Adjust image size on smaller screens if needed */
    }
  
    .input-group {
      flex-direction: column; 
      width: 100%;
    }
  
    .form-control {
      margin-bottom: 10px; /* Add space between input and button on small screens */
    }
  }
